<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>LabSemana08</display-name>
  <welcome-file-list>
    <welcome-file>logeo/login.jsp</welcome-file>
    <welcome-file>cliente/indexCliente.jsp</welcome-file>
    <welcome-file>docente/indexDocente.jsp</welcome-file>
    <welcome-file>curso/indexCurso.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CursoServlet</display-name>
    <servlet-name>CursoServlet</servlet-name>
    <servlet-class>servlets.CursoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoServlet</servlet-name>
    <url-pattern>/CursoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocenteServlet</display-name>
    <servlet-name>DocenteServlet</servlet-name>
    <servlet-class>servlets.DocenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocenteServlet</servlet-name>
    <url-pattern>/DocenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteServlet</display-name>
    <servlet-name>ClienteServlet</servlet-name>
    <servlet-class>servlets.ClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteServlet</servlet-name>
    <url-pattern>/ClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>VentaServlet</display-name>
    <servlet-name>VentaServlet</servlet-name>
    <servlet-class>servlets.VentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VentaServlet</servlet-name>
    <url-pattern>/VentaServlet</url-pattern>
  </servlet-mapping>
</web-app>